
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post">
    <input class="form-control" type="text" name="UserName" placeholder="User Name" />
    <br />
    <button class="btn btn-success">Sign In</button>
</form>